.avator {
    background-color: aliceblue;
}

#profilePic {
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    background-color: #525FE1;
  }
  
  .avator {
    border-radius: 50%;
    border: #525FE1 5px solid;
  }
  
  .left {
    flex-direction: column;
    background-color:#FFFFFF;
    padding: 5px;
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex; 
    border-radius: 5%;
  }

  .left h3{
    text-align: left;
    font-weight: bolder;
  }

  .link {
    color:#F08D46;
  }
  
  .right {
    background-color: #525FE1;
    padding: 10px;
    width: 50%;
    display: flex;
  }
  .right h3 {
    font-size: 30px;
  }

  .right p {
    font-size: 25px;
  }
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}

